/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}

header {
  text-align: center;
  background: url('images/background.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 100px;
}

  
body {
  margin: 50;
  padding: 50;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: rgb(56, 233, 109);
}

/* Section Styles */

.main-nav {
  width: 100%;
  
  background: linear-gradient(0deg, rgb(14, 3, 27) 5%, rgb(50, 19, 224) 55%);
  /* above code taken from: https://www.w3schools.com/css/css3_gradients.asp */
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  border: 1px solid rgb(204, 198, 233);
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  
}
.nav .name {
  display: none;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: rgb(56, 233, 109);
}


footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  font-size: 1.3em;
    padding: 20px;    
    background: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) { 

  .nav {
    max-width: 1200px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 100px;
  }

  main p {
    line-height: 1.6em;
  }


p {
  color: white;
}

}